
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=National+Park:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*reset de css a html*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#body {
    font-family: "Raleway";
 
}



.navbar {
    background-color: #373A3C;
    
}

.navbar-nav .nav-item {
    white-space: nowrap;
  }



  
header {
    background-image: url('../img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 10rem;
  }


#trabajos {
    background-color: #17A2B8;

}

.text1 {
    padding: 30px;
}
.tittle {
    padding: 30px;
    font-size: 50px;
    color: #FFFFFF;
    font-family: "Raleway";
    font-weight: 600;
}

.card-body {
    text-align: left;
}

.card-text {
    text-align: center;
    font-size: 16px;
}

.card-title {
    text-align: center;
}
.formu {
    text-align: left;
    font-weight: 600;
}

.card-img-container {
    height: 200px; /* altura img */
    overflow: hidden;
  }
  
  .card-img-container img {
    width: 100%; /* todo el ancho del contenedor */
    height: auto; /* altura se ajusta  */
  }